@model KeepPasswords.Models.PasswordsKeeper.PasswordItem
<input type="hidden" value="@Model.ItemId" id="ItemId" />
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @if(Model.ItemId==0)
            {
                <h5 class="modal-title">Новый сервис</h5>
            }
            else
            {
                <h5 class="modal-title">Редактирование сервиса</h5>
            }            
            <button type="button" class="btn-close" onclick="globalCloseModal();" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            @if (Model.ItemId != 0)
            {
                <div class="alert alert-success" role="alert">
                    Последнее редактирование: @Model.RecentDateChange.ToString("dd.MM.yyyy HH:mm:ss")
                </div>
            }
            <div id="validate_badge">

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label required">Название сервиса</label>
                        <input type="text" class="form-control" value="@Model.ServiceName" name="example-text-input" placeholder="GitHub" id="ServiceName">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label required" style="cursor: pointer !important;" title="При отсутсвии - писать Email">Имя пользователя</label>
                        <input type="text" value="@Model.UserName" class="form-control" id="UserName" placeholder="@@username">
                    </div>
                </div>
            </div>
           
           
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-3">
                        <label class="form-label required">URL</label>
                        <div class="input-group input-group-flat">                            
                            <input style="padding-left: 10px !important;" type="text" value="@Model.WebSite" id="WebSite" class="form-control ps-0" placeholder="https://example.com" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" value="@Model.Email" class="form-control" id="Email" placeholder="name@example.com" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" value="@Model.Password" placeholder="********" autocomplete="off" id="Password">
                        <span class="input-group-text">
                            <a onclick="onToggleInput('Password');" class="link-secondary" style="cursor: pointer !important;">

                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye-bolt" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M13.1 17.936a9.28 9.28 0 0 1 -1.1 .064c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /><path d="M19 16l-2 3h4l-2 3" /></svg>
                            </a>

                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <label class="form-label">Дополнительно</label>
                        <textarea id="Additional" class="form-control" rows="3">@Model.Additional</textarea>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="modal-footer">
            <a onclick="globalCloseModal();" class="btn btn-link link-secondary">
                Отмена
            </a>
            @if (Model.ItemId == 0)
            {
                <a onclick="onAddUpdateService();" class="btn btn-dark ms-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    Добавить
                </a>
            }
            else
            {
                <a onclick="onAddUpdateService();" class="btn btn-dark ms-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                    Сохранить
                </a>
            }           
        </div>
    </div>
</div>