@model IEnumerable<KeepPasswords.Models.PasswordsKeeper.PasswordItem>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="input-icon mb-3">
                <input type="text" id="serviceNameSearchInput" value="" class="form-control" placeholder="Поиск" onkeyup="onSearch();">
                <span class="input-icon-addon">
                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                </span>
            </div>
           

        </div>
        <div class="list-group list-group-flush">
            @foreach(var item in Model)
            {
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col-auto">
                            <label>
                                <span class="avatar" style="background-image: url(@item.IconURL);"></span>
                            </label>
                        </div>
                        <div class="col text-truncate">
                            <label class="text-reset d-block serviceName">@item.ServiceName</label>
                            <div class="d-block text-secondary text-truncate mt-n1">@item.UserName</div>
                        </div>
                        <div class="col-auto">
                            <a style="cursor: pointer;" title="Детализация данных сервиса" onclick="onShowModalUpdatePassword('@item.ItemId')" class="list-group-item-actions">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-secondary icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                            </a>
                            <a style="cursor: pointer;" title="Удаление сервиса" onclick="onShowModalDeletePassword('@item.ItemId')" class="list-group-item-actions">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-secondary icon-tabler icon-tabler-trash-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7h16" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /><path d="M10 12l4 4m0 -4l-4 4" /></svg>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
