@model KeepPasswords.Models.Calendar.CalendarItem
@{
    DateTime minDate = new DateTime(Model.Date.Year, Model.Date.Month, Model.Date.Day);
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @if (Model.ItemId == 0)
            {
                <h5 class="modal-title">Новое событие на дату @Model.Date.ToString("dd.MM.yyyy")</h5>
            }
            else
            {
                <h5 class="modal-title">Редактирование события</h5>
            }
            <button type="button" class="btn-close" onclick="onDefaultCalendarClick('@Model.Date');" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" role="alert" style="display: none;" id="alert_validate_container">
                <div class="d-flex">
                    <div>
                        <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path d="M12 8v4"></path><path d="M12 16h.01"></path></svg>
                    </div>
                    <div id="alert_text">
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label required">Событие</label>
                        <input type="text" class="form-control" value="@Model.EventName" name="example-text-input" placeholder="Новое событие" id="EventName">
                    </div>
                </div>
               
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label">Описание</label>
                        <input type="text" value="@Model.Description" class="form-control" id="EventDescription" placeholder="...">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label required">Время</label>
                        <div class="input-group input-group-flat">
                            <input style="padding-left: 10px !important;" min="@(Model.ItemId == 0 ? $"{minDate.ToString("yyyy-MM-dd'T'HH:mm")}" : "")" max="@(Model.ItemId == 0 ? $"{minDate.ToString("yyyy-MM-dd'T'HH:mm")}" : "")" type="datetime-local" value="@Model.Date.ToString("yyyy-MM-dd'T'HH:mm")" id="EventDate" class="form-control ps-0" autocomplete="off">
                        </div>
                    </div>
                </div>
                
            </div>

           <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label class="form-label required">Цвет</label>
                        <input type="color" class="form-control" id="colorisPicker" value="@Model.Color">
                    </div>
                </div>
           </div>
        </div>

        <div class="modal-footer">
            <a onclick="onDefaultCalendarClick('@Model.Date');" class="btn btn-link link-secondary">
                Отмена
            </a>
            <a onclick="onAddUpdateEvent('@Model.ItemId','@Model.Date');" class="btn btn-dark ms-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M14 4l0 4l-6 0l0 -4" /></svg>
                Сохранить
            </a>
        </div>
    </div>
</div>

