<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js">
</script>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link href="~/css/dist/libs/dropzone/dist/dropzone.css" rel="stylesheet" />
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Обзор
                </div>
                <h2 class="page-title">
                    Менеджер фото
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">               
                    <div class="btn-list">

                        <a class="btn btn-dark d-none d-sm-inline-block" onclick="@((bool)ViewBag.HasSecretPhrase ? "onShowModalUploadPhoto()" : "AlertValidate('Для пользователя не установлен SecretPhrase! Необходимо добавить его в настройках!');")">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            Новые фото
                        </a>
                        <a class="btn btn-dark d-sm-none btn-icon" aria-label="Добавить новый сервис" onclick="onShowModalUploadPhoto()">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cols-6 g-3" id="photo_grid">
         
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        onReloadPhotoGrid();      
        $.fancybox.defaults.btnTpl.dlt = '<button data-fancybox-dlt class="glyphicon glyphicon-trash fancybox-button fancybox-button--dlt" title="Удалить фото"></button>';
        $('body').on('click', '[data-fancybox-dlt]', function () {
            onDeletePhoto();            
        });
    });

    function onReloadPhotoGrid() {
        showSpinner();
        $.get('@Url.Action("GetPhotos", "PhotoKeeper")', null, function (data) {
            $('#photo_grid').html(data);
            hideSpinner();
        });
    }

    function onShowModalUploadPhoto()
    {
        $.get('@Url.Action("ShowModalUploadPhoto", "PhotoKeeper")', null, function (data) {
            $('#modal_body').html(data);
            globalOpenModal();
        });
    }

    function AlertSuccessAndReload(message) {
        $.get('@Url.Action("ShowModalSuccess", "PhotoKeeper")', { message: message }, function (data) {
            $('#modal_body').html(data);
            globalOpenModal();
        });

    }


    function onDeletePhoto() { 
        var isDelete = confirm("Фото будет удалено без возможности восстановления, продолжить?");

        if (isDelete)
        {
            $.get('@Url.Action("DeletePhoto", "PhotoKeeper")', null, function (data) {
                $.fancybox.close();
                if (data != '' && data != null) {
                    AlertValidate(data);
                }
                else {
                    onReloadPhotoGrid();
                }
            });
        }        
    }

    function onOpenGallery(src,photoName,itemId)
    {
        document.cookie = 'SelectedPhotoItemId=' + itemId + '; path=/';
        var PhotoList = new Array();
        let Photos = {};
        Photos["src"] = src;
        Photos["opts"] = {
            caption: photoName, id: itemId, path: src
        };

        PhotoList.push(Photos);
        $.fancybox.open(PhotoList, {
            loop: true,
            buttons: [
                'zoom',                
                'download',
                'dlt',
                'close'
            ]

        });

        
    }
</script>